{% extends 'base.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/joueur.css') }}">
    {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ asset('images/logo.png') }}" class="center-block logo" alt="logo">
            </div>
        </div>
        <div id="profile">
            <div class="row">
                <div class="col-sm-12 paddingprofile">
                    Pseudo : {{ username }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 paddingprofile">
                    Ton mail : {{ email }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 paddingprofile">
                    Ton nombre de points : {{ classement }}
                </div>
            </div>

            <h3 class="text-center"> Retrouve d'ou provient cette photo !</h3>
        </div>
        <a href="{{ path('joueur_Envoi') }}"><button type="button" class="btn btn-lg btn-success center-block telechargement" >Envoyer votre réponse</button></a>

    </div>



{% endblock %}